In [10]:
import pandas as pd

In [11]:
df=pd.read_csv('Companies in india')
df.head()

,Unnamed: 0,Name,Type,Location,Ratings,Review
0,0,TCS,IT Services & Consulting,Bangalore / Bengaluru +390 other locations,3.7,90.7k
1,1,Accenture,IT Services & Consulting,Bangalore / Bengaluru +206 other locations,3.8,57.1k
2,2,Wipro,IT Services & Consulting,Bangalore / Bengaluru +342 other locations,3.7,53.6k
3,3,Cognizant,IT Services & Consulting,Chennai +192 other locations,3.7,50.7k
4,4,Capgemini,IT Services & Consulting,Bangalore / Bengaluru +168 other locations,3.7,42.2k

# install pandus-profiling

In [12]:
from ydata_profiling import ProfileReport
from ydata_profiling.config import Settings

settings = Settings()
settings.plot.font_path = "/home/srabon/Documents/DejaVuSans.ttf"  # Adjust this path

prof = ProfileReport(df, explorative=True, config=settings)
prof.to_file("OUT INDIAS COMPANY.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]